<link rel="stylesheet" href="styles/mainPage.css">
<div>
	<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<a class="brand" href="/mainPage">PostIt</a>
			<ul class="nav">
				<li ng-repeat="pages in headings" ng-class="{active:isItemActive(pages)}">
					<a href="{{pages.href}}">{{pages.name}}</a>
				</li>
			</ul>
		</div>
	</nav>
	FUN
	<div>
		<button class="btn btn-primary" data-toggle="modal" href="#addComment"><i class="icon-plus"></i> Add a post
		</button>
	</div>
	<div class="modal hide fade" ng-include="'/views/addComment.html'" id="addComment"></div>
</div>

